@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Tân Lược<br />
    Bình Tân, Vĩnh Long<br />
    <abbr title="Phone">Phone:</abbr>
    (+84) 0975653725
</address>

<address>
    <strong>Support:</strong>   <a href="maivanchuong95.it@gmail.com">maivanchuong95.it@gmail.com</a><br />
</address>